<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# If the request is for index.php, do nothing
RewriteRule ^index.php$ - [L]

# If the requested filename is not an existing file
RewriteCond %{REQUEST_FILENAME} !-f
# If the requested filename is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the request to index.php
RewriteRule . index.php [L]
</IfModule>

# Custom 404 error page
ErrorDocument 404.html
